* {
  /* border: 1px solid red */
}

@media screen and (min-device-width: 320px) {
  .game-details {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  header {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 10px 0 10px 0;
  }
  
  .header-right {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 10px;
  }

  img {
    height: 11em;
    width: 10em;
  }

  .game-details-title {
    font-size: 1.5em;
  }

  .cost {
    font-size: 20px;
  }

  button {
    padding: 5px;
    margin-left: 13px;
  }
  
  .details-button {
    border-radius: 5px;
    border: none;
    background-color: #ffb037;
    font-size: 10px;
  }
  
  .game-description {
    width: 19em;
    font-family: 'Nanum Gothic', sans-serif;
  }
  
  iframe {
    margin-bottom: 1em;
  }
}

@media screen and (min-width: 768px) { 
  .header-right {
    width: 21em;
  }

  img {
    height: 15em;
    width: 15em;
  }

  .game-details-title {
    font-size: 3em;
    margin: 0 0 20px 0;
  }

  .cost {
    font-size: 30px;
  }
  
  button {
    padding: 8px;
    margin-left: 13px;
    font-size: 18px;
    margin-top: 10px;
  }
  
  iframe {
    width: 35em;
    height: 20em;
  }

  .game-description {
    width: 25em;
    font-size: 20px;
  }

  .details-button {
    font-size: 15px;
  }
}

@media screen and (min-width: 900px) {
  .game-description {
    width: 33em;
    margin-top: 0;
  }
}
