@media screen and (min-device-width: 320px) {
  .wish-error {
    margin-left: 1.5em;
  }

  .wish-total {
    display: flex; 
    justify-content: flex-end;
    padding-right: 5px;
  }

  .oops {
    height: 14em;
    width: 18em;
    margin-top: 2em;
  }
}

@media screen and (min-width: 750px) {
  .wish-total {
    padding-right: 10px;
    font-size: 25px;
  }
}

