h1 {
  margin: 0;
}

.nav-bar {
  display: inline-flex;
  justify-content: space-between;

  width: 100%;
  height: 15vh;
  min-height: 125px;

  background: linear-gradient(#240059, #4601b5, #240059);
  color: #87e7ff;
  font-family: 'Anton', sans-serif;
}


@media only screen and (max-width: 550px) {
  .nav-bar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 20vh;
  }
}
