@media screen and (min-device-width: 320px) {
  .nav-bar {
    display: flex;
    align-items: center;
    height: 5em;
    background: #2f5d62;
    font-family: 'Anton', sans-serif;
  }

  .fa-heart {
    font-size: 12px;
    padding-right: 2px;
    padding-top: 10px;
  }

  .wishlist_title {
    font-size: 13px;
    color: white;
    font-family: 'Playfair Display', serif;
    position: absolute;
    top: 3px;
    right: 0;
    width: 6em;
  }

  .game-header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding-top: 20px;
    padding-right: 6em;
  }

  .fa-home {
    color: white;
    margin-right: 10px;
    font-size: 15px;
    margin-left: 5px;
  }

  .game-title,
  .stretch-title {
    color: white;
    font-family: 'Playfair Display', serif;
    margin: 0;
  }

  .game-title {
    font-size: 27px;
    position: absolute;
    top: 0;
  }

  .stretch-title {
    font-size: 45px;
  }

  .stretch-image {
    font-size: 5px;
    margin-bottom: 13px;
  }

}

@media screen and (min-width: 600px) {
  .nav-bar {
    height: 10em;
  }
  .game-title {
    font-size: 50px;
    padding-right: 60px;
  }

  .die {
    font-size: 19px;
    padding-right: 13px;
  }

}


@media screen and (min-width: 768px) {
  .wishlist_title {
    font-size: 19px;
  }

  .fa-heart {
    font-size: 18px;
    padding-right: 4px;
  }

  .nav-bar {
    height: 10em;
  }

  .fa-home {
    margin-right: 50px;
    font-size: 28px;
  }

  .game-title {
    font-size: 69px;
    padding-right: 20px;
  }
}

@media screen and (min-width: 1300px) {}

@media screen and (min-width: 1600px) {}
