@media screen and (min-device-width: 320px) {
  .nav-bar {
    display: flex;
    align-items: center;
    height: 5em;
    background: #2f5d62;
    font-family: 'Anton', sans-serif;
  }
  
  .fa-heart {
    font-size: 12px;
    padding-right: 2px;
    padding-top: 10px;
  }

  .wishlist_title {
    font-size: 15px;
    color: white;
    font-family: 'Playfair Display', serif;
    position: absolute;
    top: 0;
    right: 0;
    width: 6em;
  }

  .game-header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding-top: 20px;
    padding-right: 35px;
  }



  .fa-home {
    color: white;
    margin-right: 10px;
    font-size: 15px;
    margin-left: 5px;
  }

  .game-title {
    font-size: 27px;
    color: white;
    font-family: 'Playfair Display', serif;
  }

  .die {
    font-size: 10px;
    padding-right: 7px;
  }

}

@media screen and (min-width: 600px) {
  .nav-bar {
    height: 10em;
  }

  .game-header {
    /* justify-content: space-between; */
    /* width: 100%; */
  }

  .game-title {
    font-size: 50px;
    padding-right: 60px;
  }

  .die {
    font-size: 19px;
    padding-right: 13px;
  }

}


@media screen and (min-width: 768px) { 
  .wishlist_title {
    font-size: 19px;
  }

  .fa-heart {
    font-size: 18px;
    padding-right: 4px;
  }

  .nav-bar {
    height: 10em;
  }

  .fa-home {
    margin-right: 50px;
    font-size: 28px;
  }

  .game-title {
    font-size: 69px;
    padding-right: 20px;
  }

  /* .die {
    font-size: 19px;
    padding-right: 13px;
  }  */
}

@media screen and (min-width: 1300px) {}

@media screen and (min-width: 1600px) {}