@media screen and (min-device-width: 320px) {
  .nav-bar {
    display: flex;
    align-items: center;
    height: 5em;
    background: #2f5d62;
    font-family: 'Anton', sans-serif;
  }
  
  .fa-heart {
    font-size: 12px;
  }

  .wishlist_title {
    font-size: 15px;
    color: white;
    font-family: 'Playfair Display', serif;
    position: absolute;
    top: 0;
    right: 0;
    width: 6em;
  }

  /* .game-header {

  } */

  .fa-home {
    color: white;
    margin-right: 10px;
  }

  .game-title {
    font-size: 25px;
    color: white;
    font-family: 'Playfair Display', serif;
  }

  .die {
    font-size: 15px;
    padding-bottom: 5px;
  }

}


@media screen and (min-width: 750px) { }

@media screen and (min-width: 1300px) {}

@media screen and (min-width: 1600px) {}