.popup {
    text-align: center;
    position: fixed;
    width: 30%;
    height: 40px;
    background-color: rgb(219, 219, 219);
    margin-left: 30%;
    margin-top: 45%;
    z-index: 500;
    opacity: .9;
}